@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Michroma:wght@400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Michroma:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
  --dark-rgb: 28, 28, 28;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: rgb(28, 28, 28);
  font-family: "Ubuntu";
  overflow-x: hidden;
 
}
/* .custom-cursor {
  cursor: url('/cursor-alt-svgrepo-com.svg') 10 10, pointer;
} */

/* Default cursor for all clickable elements */
button, a, input[type="button"], input[type="submit"], label, select {
  cursor: url('https://img.icons8.com/stamp/32/625eeb/cursor.png') 10 10, pointer;
}

/* Change cursor on hover */
button:hover, a:hover, label:hover, select:hover {
  cursor: url("https://img.icons8.com/stamp/32/625eeb/cursor.png") 10 10, pointer;
}

textarea, input {
  cursor: url('https://img.icons8.com/ios-filled/24/text-cursor.png') 5 5, pointer;
}


.grainy-background {
  position: absolute; /* Ensure it's positioned correctly */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
  filter: url(#noiseFilter);
  /* Send it behind other content */
}


.font {
  
  font-family: "Michroma";
  color: #1c1c1c;
}

.text-light {
  color: #ffebcd;
  font-family: "Ubuntu";
}




.font-light {
  font-size: 'rem';
  font-family: "Michroma";
  color: blanchedalmond
}



:root {
  --gradient-x: 30%;
  --gradient-y: 70%;
}

.gradient {
  background: radial-gradient(circle at var(--gradient-x) var(--gradient-y), rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%);

}

.gradient-text {
  background: radial-gradient(circle at var(--gradient-x) var(--gradient-y), #625eeb 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media (max-width: 768px) {
  .gradient-text {
    background: linear-gradient(160deg, rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%);    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
}
.text-grad{
  background: linear-gradient(160deg, rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.grad{
  border: linear-gradient(45deg, rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%);

}

.under {
  border-bottom: 3px solid transparent; /* Transparent border */
  border-image-source: linear-gradient(45deg, rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%);
  border-image-slice: 1;
  
}

.element {
  position: relative;
  padding: 10px; /* Space inside the border */
  border-radius: 20px; /* Makes the border rounded */
  border: 5px solid transparent; /* Transparent border to apply gradient */
  
  background: 
    linear-gradient(rgb(28, 28, 28), rgb(28, 28, 28)) padding-box, /* Inner background */
    linear-gradient(45deg, rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%) border-box; /* Gradient border */
  
  background-clip: padding-box, border-box;
}



#navhover:hover {
  color:blanchedalmond
}

a{
  text-align: center;
  text-decoration: none;
}

.textarea {
  background-color: blanchedalmond;
  color: rgb(28, 28, 28);
  
}

button {
  background-color: rgb(28, 28, 28);
  color: blanchedalmond;
  font-family: "Michroma";
  width: 100px;
  padding: 5px;
    
}

.buttonlg {
  background-color: rgba(28, 28, 28,1);
  /* color: radial-gradient(circle at var(--gradient-x) var(--gradient-y), rgba(98,94,235,1) 0%, rgba(243,125,206,1) 50%, rgba(252,206,144,1) 100%); */
  font-family: "Michroma";
  width: 400px;
  /* padding: 5px; */
    
}

.buttonlight {
  background-color: blanchedalmond;
  color: rgba(28, 28, 28,1);
  font-family: "Michroma";
  width: 400px;
  /* padding: 5px; */
    
}

#card:hover #desc{
  opacity: 100%;
}

#card:hover #title{
  opacity: 0%;
}

.textfont {
  font-family: "Michroma", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.pos {
  position: absolute;
  /* top: 50%;
  left: 50%;
  background-color: blue; */
}

.aborder {
  border: 2px solid rgba(28, 28, 28,1);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  
  
  z-index: 9999; /* Ensure dropdown is on top of other elements */
}

#szolgaltatas-link:hover .dropdown-menu {
  display: block;
}


.marquee {
  width: 100%; /* Full width */
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent text wrapping */
  box-sizing: border-box; /* Ensure padding and borders don't affect size */

}

.marquee span {
  display: inline-block; /* Keep content inline */
  padding-left: 100%; /* Start the text off-screen */
  animation: scroll-text 50s linear infinite; /* Define the animation */
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move off-screen to the left */
  }
}

.nav-1, .nav-2, .nav-3, .nav-4 {
  opacity: 0;
}

/* 

<span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        C
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        O
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        N
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        C
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        E
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        P
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        T
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        O
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        P
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        I
      </span>
      <span className="conc  font text-4xl md:text-9xl text-center gradient-text scale-90">
        A
      </span>
      </div> */